<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dat.android.lips">
    <!-- Добавление интернета -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".presentation.black.WebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Web" />
        <activity
            android:name=".presentation.InfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/InfoActivityStyle"></activity>
        <activity
            android:name=".presentation.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashActivityStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityStyle"></activity>

        <receiver android:name=".utils.notification.AlarmReceiver" />
    </application>

</manifest>